Repository lucasvtiradentes/cscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, sh -c 'cd packages/core && cargo fmt'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["biome format --write"],
  "*.json": ["biome format --write"],
  "packages/core/**/*.rs": ["sh -c 'cd packages/core && cargo fmt'"]
}

fix: publish CLI package from tarball to avoid git ls-remote
  scripts/release.sh
Due: none

fix: use changeset publish instead of manual npm publish
  .changeset/clear-things-follow.md
  scripts/release.sh
Due: none

fix: devmode
  .cscanner/rules.json
  packages/core/README.md
  packages/core/crates/core/src/config.rs
  packages/core/crates/core/src/lib.rs
  packages/core/crates/core/src/registry.rs
  packages/core/crates/core/src/scanner.rs
  packages/core/crates/cscanner_cli/src/main.rs
  packages/core/crates/cscanner_server/src/main.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/esbuild.config.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/scripts/install-local.ts
  packages/vscode-extension/scripts/setup-rust-binary.ts
  packages/vscode-extension/src/commands/find-issue.ts
  packages/vscode-extension/src/commands/manage-rules.ts
  packages/vscode-extension/src/commands/settings.ts
  packages/vscode-extension/src/commands/view-mode.ts
  packages/vscode-extension/src/common/constants.ts
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/src/common/lib/scanner.ts
  packages/vscode-extension/src/common/utils/is-dev.ts
  packages/vscode-extension/src/common/utils/logger.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/sidebar/tree-items.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome format --write, sh -c 'cd packages/core && cargo fmt'

refactor: add typed commands
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commands/find-issue.ts
  packages/vscode-extension/src/commands/issue-navigation.ts
  packages/vscode-extension/src/commands/manage-rules.ts
  packages/vscode-extension/src/commands/navigation.ts
  packages/vscode-extension/src/commands/scan.ts
  packages/vscode-extension/src/commands/settings.ts
  packages/vscode-extension/src/commands/show-logs.ts
  packages/vscode-extension/src/commands/view-mode.ts
  packages/vscode-extension/src/common/constants.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/common/utils/is-dev.ts
  packages/vscode-extension/src/extension.ts
  pnpm-lock.yaml
Due: biome format --write

refactor: add vscode helper function
  packages/vscode-extension/src/commands/find-issue.ts
  packages/vscode-extension/src/commands/issue-navigation.ts
  packages/vscode-extension/src/commands/manage-rules.ts
  packages/vscode-extension/src/commands/navigation.ts
  packages/vscode-extension/src/commands/scan.ts
  packages/vscode-extension/src/commands/settings.ts
  packages/vscode-extension/src/commands/show-logs.ts
  packages/vscode-extension/src/common/lib/rust-client.ts
  packages/vscode-extension/src/common/lib/scanner.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/extension.ts
Due: biome format --write

refactor: add workspace helper
  packages/vscode-extension/src/commands/find-issue.ts
  packages/vscode-extension/src/commands/manage-rules.ts
  packages/vscode-extension/src/commands/scan.ts
  packages/vscode-extension/src/commands/settings.ts
  packages/vscode-extension/src/common/lib/scanner.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/sidebar/search-provider.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome format --write

refactor: add lint fix script
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/vscode-extension/package.json
  turbo.jsonc
Due: biome format --write

refactor: add enums
  packages/vscode-extension/src/commands/find-issue.ts
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/settings.ts
  packages/vscode-extension/src/commands/view-mode.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/common/types.ts
  packages/vscode-extension/src/sidebar/search-provider.ts
  packages/vscode-extension/src/sidebar/tree-items.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome format --write

refactor: install local script
  .changeset/cozy-candles-agree.md
  packages/vscode-extension/package.json
  packages/vscode-extension/scripts/copy-binaries.ts
  packages/vscode-extension/scripts/install-local.ts
  packages/vscode-extension/scripts/setup-rust-binary.ts
  packages/vscode-extension/src/commands/navigation.ts
Due: biome format --write

chore: update dependencies
  .github/workflows/callable-ci.yml
  README.md
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/scripts/copy-binaries.sh
  packages/cli/scripts/copy-binaries.ts
  packages/core/crates/cscanner_cli/README.md
  packages/core/package.json
  packages/core/scripts/build-binaries.sh
  pnpm-lock.yaml
  turbo.jsonc
Due: biome format --write

refactor: rename project
  README.md
  packages/core/Cargo.lock
  packages/core/Cargo.toml
  packages/core/README.md
  packages/core/crates/cli/Cargo.toml
  packages/core/crates/cli/README.md
  packages/core/crates/cli/src/constants.rs
  packages/core/crates/cli/src/main.rs
  packages/core/crates/server/Cargo.toml
  packages/core/crates/server/src/main.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/src/common/lib/rust-client.ts
Due: biome format --write, sh -c 'cd packages/core && cargo fmt'

fix: ci error
  .changeset/tame-pigs-dress.md
  .github/workflows/push-to-main.yml
  .tscanner/rules.json
  packages/cli/npm/cli-win32-x64/package.json
  packages/cli/package.json
  packages/cli/scripts/copy-binaries.ts
  packages/cli/scripts/generate-packages.mjs
  packages/cli/scripts/generate-packages.ts
  packages/cli/scripts/install-local.ts
  packages/cli/src/main.ts
  packages/cli/tsconfig.json
  packages/cli/tsup.config.ts
  packages/core/Cargo.lock
  packages/core/crates/cli/Cargo.toml
  packages/core/crates/cli/src/main.rs
  packages/core/crates/core/Cargo.toml
  packages/core/crates/core/src/cache.rs
  packages/core/crates/core/src/registry.rs
  packages/core/crates/core/src/scanner.rs
  packages/core/crates/core/src/watcher.rs
  packages/core/crates/server/Cargo.toml
  packages/core/crates/server/src/handlers/clear_cache.rs
  packages/core/crates/server/src/handlers/scan.rs
  packages/core/crates/server/src/handlers/scan_content.rs
  packages/core/crates/server/src/handlers/scan_file.rs
  packages/core/crates/server/src/handlers/watch.rs
  packages/core/crates/server/src/main.rs
  pnpm-lock.yaml
Due: biome format --write, sh -c 'cd packages/core && cargo fmt'

refactor: cli code
  packages/cli/package.json
  packages/cli/postinstall.js
  packages/cli/src/binary-resolver.ts
  packages/cli/tsconfig.json
  packages/cli/tsup.config.ts
Due: biome format --write

fix: initial scan search
  packages/vscode-extension/src/commands/find-issue.ts
  packages/vscode-extension/src/extension.ts
Due: biome format --write

feat: remove conflicting rules
  packages/vscode-extension/src/commands/find-issue.ts
  packages/vscode-extension/src/commands/settings.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/sidebar/search-provider.ts
  packages/vscode-extension/src/sidebar/tree-items.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome format --write

feat: update view mode
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/view-mode.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
Due: biome format --write

feat: add output as json flag
  packages/core/crates/cli/src/commands/check.rs
  packages/core/crates/cli/src/main.rs
Due: sh -c 'cd packages/core && cargo fmt'

fix: branch diff command
  packages/core/crates/cli/src/commands/check.rs
  packages/core/crates/server/src/handlers/scan.rs
Due: sh -c 'cd packages/core && cargo fmt'

chore: remove tests
  packages/core/crates/core/src/config.rs
  packages/core/crates/core/src/disable_comments.rs
  packages/core/crates/core/src/registry.rs
Due: sh -c 'cd packages/core && cargo fmt'

fix: cli exit code error
  biome.json
  packages/core/crates/cli/src/main.rs
Due: biome format --write, sh -c 'cd packages/core && cargo fmt'
